*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    outline: none;
    
}

.center{
    display:flex;
    align-items: center;
    
}

.header{
    display:flex;
    justify-content: space-around;
    padding:10px;
    align-items: center;
}
.header-logo{
    width:100px;
    height:100px;
    background-color: transparent;
    
}
.header-nav > ul{
    display: flex;
}

.header-nav > ul > li{
    margin-right: 30px;
}
.header-nav > ul > li > a{
    font-size: 20px;
    color:palevioletred;
    font-weight: 600;
}
.header-nav > ul > li >a:hover {
    color:red;
}

.search{
    position: relative;
}

.search-field{
    position: absolute;
    top :50%;
    left:30%
}
.search-field > input{
    padding: 12px;
    width: 400px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    
}
.search-field > button{
    font-size: 18px;
    padding:12px;
    background-color:palevioletred ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color:white
}

.explore{
    max-width: 960px;
    margin:0 auto;
    padding:40px 0;
}

.explore-title{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.explore-item{
    display: flex;
    justify-content: space-between;
}

.explore-itemCard{
    width:32%;
    position:relative;
}

.explore-itemCard > img{
    border-radius: 10px;
}

.explore-itemCard-title{
    position:absolute;
    bottom: 10%;
    left: 40%;
    color: white;
    font-size: 18px;
}

.menu{
    background-color: #c7c0c0;
    padding-bottom: 30px;
}

.menu-heading{
    display: flex;
    justify-content: center;
    padding:40px 0 30px 0
}

.menu-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 960px;
    margin:0 auto;
    height: 550px;
    justify-content: space-between;
}

.menu-itemCard{
    width:45%;
    height:25%;
    padding:15px ;
    display: flex;
    background-color: white;
    border-radius: 5px;
}

.meun-itemCard__img >img{
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.menu-itemCard__details{
    display:block;
    margin-left: 20px;
    line-height: 25px;
}
.menu-itemCard__details > p{
    overflow: hidden;
}
.menu-itemCard__details > button{
    color:white;
    background-color: palevioletred;
    margin-top: 10px;
    padding:5px;
    outline: none;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}
.menu-item__showMore{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.menu-item__showMore > a{
    font-size: 18px;
    color:palevioletred
}
.menu-item__showMore > a:hover{
    color:rgb(174, 114, 134)
}

.footer{
    max-width: 350px;
    margin:10px auto 40px auto
}
.socialMedia{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.socialMedia-icon{
    margin-right: 20px;
}

.socialMedia-icon > a {
    font-size: 24px;
    color:palevioletred
}

.author{
    font-size: 18px;
}